{% extends 'base.html' %}
{%block title%}
{%endblock title%}
{% block content %}

<a class="btn btn-secondary mb-5" href="{{url_for('newCompany')}}">Add new Brand</a>

<div class="row">
{%for c in company%}


    <div class="col-sm-6">
      <div class="card mb-5">
        <div class="card-body">
          <h5 class="card-title">{{c.name}}</h5>
          <p class="card-text">To be added later</p>
          <a class="btn btn-primary float-right" 
    href="{{url_for('showAutos', company_id=c.id)}}">View Autos</a>
          <a class="btn btn-warning" 
    href="{{url_for('editCompany', company_id=c.id)}}">edit</a> 
    <a class="btn btn-danger" 
    href="{{url_for('deleteCompany', company_id=c.id)}}">delete</a>
        </div>
      </div>
    </div>

{%endfor%}
</div>
{%endblock content%}
